<!-- Template Inscription -->

<link rel="stylesheet" href="assets/css/connexion.css">
<section class="inscription">
	<form name="frmInscription" method="POST" action="validationInscription">
		<input name="nom" value="{{ usager.nom }}" placeholder="Votre nom">
		<span>&nbsp;{{ erreurs.nom }}</span>
		<input name="prenom" value="{{ usager.prenom }}" placeholder="Votre prenom">
		<span>&nbsp;{{ erreurs.prenom }}</span>
		<input name="adresse" value="{{ usager.adresse }}" placeholder="Votre adresse">
		<span>&nbsp;{{ erreurs.adresse }}</span>
		<input name="codePostal" value="{{ usager.codePostal }}" placeholder="Votre code postal">
		<span>&nbsp;{{ erreurs.codePostal }}</span>
		<input name="ville" value="{{ usager.ville }}" placeholder="Votre ville">
		<span>&nbsp;{{ erreurs.ville }}</span>
		<input name="pays" value="{{ usager.pays}}" placeholder="Votre pays">
		<span>&nbsp;{{ erreurs.pays }}</span>
		<input name="telephone" value="{{ usager.telephone }}" placeholder="Votre telephone">
		<span>&nbsp;{{ erreurs.telephone }}</span>
		<input name="courriel" value="{{ usager.courriel }}" placeholder="Votre adresse mail">
		<span>&nbsp;{{ erreurs.courriel }}</span>
		<input type="password" name="mdp" value="" placeholder="Votre mot de passe">
		<input type="hidden" name="idprofil" value="membre">
		<span>&nbsp;{{ erreurs.mdp }}</span>

		<input type="submit" value="S'inscrire">

	</form>
</section></section><!-- fin template Accueil -->
